.color-1 {
  --color: #9e2994;
}

.color-2 {
  --color: #bb2b84;
}

.color-3 {
  --color: #cf2c7a;
}

.color-4 {
  --color: #ff2e5f;
}

.color-5 {
  --color: #ff8758;
}

.color-6 {
  --color: #ffd952;
}

.pulse-in {
  height: 200px;
  width: 25px;
  transform-origin: 50% 100%;
  animation: pulse-in 1s ease;
}

.pulse-out {
  height: 200px;
  width: 25px;
  transform-origin: 50% 100%;
  animation: pulse-out 1s ease;
}

@keyframes pulse-in {
  0% {
    transform: scaleY(0);
    background-color: var(--color);
    box-shadow: 5px 0px 5px grey;
  }
  10% {
    transform: scaleY(1);
    background-color: var(--color);
    box-shadow: 5px 0px 5px grey;
  }
}

@keyframes pulse-out {
  0% {
    transform: scaleY(1);
    background-color: var(--color);
    box-shadow: 5px 0px 5px grey;
  }
  100% {
    transform: scaleY(0);
    background-color: var(--color);
    box-shadow: 5px 0px 5px grey;
  }
}
